.Timer {
  text-align: center;
  margin: 0;
  font-family: "Raleway", monospace !important;
  overflow: hidden;
  /* height: 100vh; */
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 3vh;
  display: inline-block;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.Timer-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.h3 {
  font-size: 1vh !important;
  margin: 0;
}

.second {
  position: absolute;
  height: 12px;
  top: calc(50% - 1px);
  width: 45%;
}

button {
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  margin: 0px;
  color: #ff7f50;
  background: none;
  border: none;
}

button.upDown {
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  margin: 0px;
  color: #ffb07e;
  background: none;
  border: none;
}

button.playPause {
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  margin: 0px;
  color: #fc7878;
  background: none;
  border: none;
}

button.upDown:hover {
  color: #c74949;
}

button.playPause:hover {
  color: #e61313;
}

button:active {
  /* box-shadow: 0 5px rgb(24, 14, 31); */
  transform: translateY(2px);
}
